.primary-button {
    margin-top: 1.4rem;

    width: 100%;
    height: 2.4rem;
    border: 0;

    cursor: pointer;

    background: #3CDC8C;

    border-radius: 2rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;

    text-decoration: none;
}

.primary-button:hover {
    background-attachment: #10ac5e;
}
.button-cad {
    padding: 5px;
    border: 0;

    cursor: pointer;

    background: #50b9cc;

    border-radius: 5px;
    color: white;
}